abrt
autostart
dconf
evolution
gnome-initial-setup-done
gnome-session
gnome-xdg-terminals.list
goa-1.0
gtk-3.0
gtk-4.0
ibus
libreoffice
monitors.xml
pulse
user-dirs.dirs
user-durs.locale
xdg-terminals.list
.gsd-keyboard.settings-ported
